@model GoBro.Web.Models.VideoThumbnailViewModel

@Html.Partial("_VideoThumbnail", Model)

<div class="pull-right">
    <a class="btn btn-danger" href="#">
        <i class="fa fa-trash-o fa-lg"></i>
    </a>
</div>
