@model GoBro.Web.Models.VideoThumbnailViewModel

<div>@Model.Title</div>
<div>uploaded by: <a href="/user/@Model.Username">@Model.Username</a></div>
<div><a href="/show?id=@Model.Id"><img src="http://img.youtube.com/vi/@Model.YoutubeId/0.jpg" width="200" /></a></div>

