@model GoBro.Web.Models.LatestVideosViewModel

<h2>Videos</h2>
<div class="row">
    @foreach (var vid in Model.Videos)
    {
        <div class="col-md-4">
            @Html.Partial("_VideoThumbnail", vid)
        </div>
    }
</div>
