@model GoBro.Web.Models.LatestVideosViewModel
<div class="jumbotron">
    <h1>GoBro</h1>
    <p class="lead">action video sharing</p>
    <p><a href="/learn/more" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h3>videos</h3>
<div class="row">
    @foreach (var vid in Model.Videos)
    {
        <div class="col-md-4">
            @Html.Partial("_VideoThumbnail", vid)
        </div>
    }
</div>
