@model GoBro.Web.Models.VideoViewModel

<div class="row">
    <h3>@Model.Title</h3>
    <object data="http://www.youtube.com/embed/@Model.YoutubeId" width="560" height="315"></object>
    <p>@Model.Description</p>
</div>